[user]
  name = Milos Brajevic
  email = milos.brajevic@hotmail.com

[github]
  user = brajevicm

[core]
  excludesfile = ~/.gitignore_global
  editor = subl
  filemode = false
  trustctime = false
    autocrlf = input